/* _content/whiskyserverapp/Shared/MainLayout.razor.rz.scp.css */
.page[b-eglh3950kf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-eglh3950kf] {
    flex: 1;
}

.sidebar[b-eglh3950kf] {
    background-image: linear-gradient(180deg, #FDEB7B 0%, #E38200 70%);
}

.top-row[b-eglh3950kf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-eglh3950kf]  a, .top-row .btn-link[b-eglh3950kf] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-eglh3950kf] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-eglh3950kf] {
        display: none;
    }

    .top-row.auth[b-eglh3950kf] {
        justify-content: space-between;
    }

    .top-row a[b-eglh3950kf], .top-row .btn-link[b-eglh3950kf] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-eglh3950kf] {
        flex-direction: row;
    }

    .sidebar[b-eglh3950kf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-eglh3950kf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-eglh3950kf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/whiskyserverapp/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gprqkkfnpu] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gprqkkfnpu] {
    height: 4.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-gprqkkfnpu] {
    /* font-family: 'Grenze Gotisch', cursive; */
    font-family: 'Averia Serif Libre', cursive;
    font-size: 2rem;
    font-weight: bold;
    color:#5c2304;
}

.navbar-brand:hover[b-gprqkkfnpu] {
    color:#160801;
}

.oi[b-gprqkkfnpu] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-gprqkkfnpu] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}


    .nav-item:first-of-type[b-gprqkkfnpu] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-gprqkkfnpu] {
        padding-bottom: 1rem;
    }

    .nav-item[b-gprqkkfnpu]  a {
        color: #581D17;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-gprqkkfnpu]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: #A94007;
}

.nav-item[b-gprqkkfnpu]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: #A94007;
}

@media (min-width: 641px) {
    .navbar-toggler[b-gprqkkfnpu] {
        display: none;
    }

    .collapse[b-gprqkkfnpu] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
