@page "/addwhisky"
@using whiskyserverapp.Data
@using System.IO;
@inject WhiskyService WhiskyService
<h1>Add Whisky</h1>

<EditForm Model="@whisky" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <InputText class="col-sm-8" @bind-Value="whisky.Name" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Type:</label>
        <InputText class="col-sm-8" @bind-Value="whisky.Type" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Age:</label>
        <InputNumber class="col-sm-8" @bind-Value="whisky.Age" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Alcohol:</label>
        <InputNumber class="col-sm-8" @bind-Value="whisky.Alc" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Aquired:</label>
        <InputDate class="col-sm-8" @bind-Value="whisky.Aquired" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Opened:</label>
        <InputDate class="col-sm-8" @bind-Value="whisky.Opened" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">LastPour:</label>
        <InputDate class="col-sm-8" @bind-Value="whisky.LastPour" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Pours:</label>
        <InputNumber class="col-sm-8" @bind-Value="whisky.Pours" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price:</label>
        <InputNumber class="col-sm-8" @bind-Value="whisky.Price" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Notes:</label>
        <InputTextArea class="col-sm-8" @bind-Value="whisky.Notes" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nose:</label>
        <InputTextArea class="col-sm-8" @bind-Value="whisky.Nose" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Palate:</label>
        <InputTextArea class="col-sm-8" @bind-Value="whisky.Palate" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Finish:</label>
        <InputTextArea class="col-sm-8" @bind-Value="whisky.Finish" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Rating:</label>
        <InputText class="col-sm-8" @bind-Value="whisky.Rating" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Distilled:</label>
        <InputDate class="col-sm-8" @bind-Value="whisky.Distilled" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Botteled:</label>
        <InputDate class="col-sm-8" @bind-Value="whisky.Botteled" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Finished:</label>
        <InputCheckbox style="margin-top:10px" class="col-sm-1" @bind-Value="whisky.Finished" />
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Image:</label>
        <InputFile class="col-sm-8" OnChange="@OnInputFileChange"></InputFile> @error
    </div>
    <button class="btn btn-primary" type="submit">Add Whisky</button>
    <br/>
</EditForm>

@code {
    private Whisky whisky = new Whisky();
    private string error;

    private async Task HandleValidSubmit()
    {
        whisky.Id = Guid.NewGuid().ToString();
        await WhiskyService.AddWhisky(whisky);
        whisky = new Whisky();
    }
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        try
        {
            var files = await WhiskyService.SaveImage(e.File);
            whisky.ImageUrl = files.Item1;

            whisky.ImageUrlTh = files.Item2;
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
