@page "/addwhisky"
@using whiskyserverapp.Data
@using System.IO;
@inject WhiskyService WhiskyService
<h1>Add Whisky</h1>

<EditForm Model="@whisky" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Name:
            <InputText @bind-Value="whisky.Name" />
        </label>
    </div>
    <div class="form-group">
        <label>Type:
            <InputText @bind-Value="whisky.Type" />
        </label>
    </div>
    <div class="form-group">
        <label>Age:
            <InputNumber @bind-Value="whisky.Age" />
        </label>
    </div>
    <div class="form-group">
        <label>Alcohol:
            <InputNumber @bind-Value="whisky.Alc" />
        </label>
    </div>
    <div class="form-group">
        <label>Aquired:
            <InputDate @bind-Value="whisky.Aquired" />
        </label>
    </div>
    <div class="form-group">
        <label>Opened:
            <InputDate @bind-Value="whisky.Opened" />
        </label>
    </div>
    <div class="form-group">
        <label>LastPour:
            <InputDate @bind-Value="whisky.LastPour" />
        </label>
    </div>
    <div class="form-group">
        <label>Pours:
            <InputNumber @bind-Value="whisky.Pours" />
        </label>
    </div>
    <div class="form-group">
        <label>Price:
            <InputNumber @bind-Value="whisky.Price" />
        </label>
    </div>
    <div class="form-group">
        <label>Notes:
            <InputTextArea @bind-Value="whisky.Notes" />
        </label>
    </div>
    <div class="form-group">
        <label>Nose:
            <InputTextArea @bind-Value="whisky.Nose" />
        </label>
    </div>
    <div class="form-group">
        <label>Palate:
            <InputTextArea @bind-Value="whisky.Palate" />
        </label>
    </div>
    <div class="form-group">
        <label>Finish:
            <InputTextArea @bind-Value="whisky.Finish" />
        </label>
    </div>
    <div class="form-group">
        <label>Rating:
            <InputText @bind-Value="whisky.Rating" />
        </label>
    </div>
    <div class="form-group">
        <label>Distilled:
            <InputDate @bind-Value="whisky.Distilled" />
        </label>
    </div>
    <div class="form-group">
        <label>Botteled:
            <InputDate @bind-Value="whisky.Botteled" />
        </label>
    </div>
    <div class="form-group">
        <label>Finished:
            <InputCheckbox @bind-Value="whisky.Finished" />
        </label>
    </div>
    <div class="form-group">
        <label>Image:
            <InputFile OnChange="@OnInputFileChange"></InputFile> @error
        </label>
    </div>
    <button type="submit">Add</button>
</EditForm>

@code {
    private Whisky whisky = new Whisky();
    private string error;

    private async Task HandleValidSubmit()
    {
        whisky.Id = Guid.NewGuid().ToString();
        await WhiskyService.AddWhisky(whisky);
        whisky = new Whisky();
    }
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        try
        {
            var files = await WhiskyService.SaveImage(e.File);
            whisky.ImageUrl = files.Item1;

            whisky.ImageUrlTh = files.Item2;
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
