@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright: Max A. Pfandl
        </div>
    </div>
</div>
